@font-face {
  font-family: 'leixo';
  src: url('../fonts/leixo/leixo.ttf')
}
@font-face {
  font-family: 'London';
  src: url('../fonts/London/LondonMM.ttf')
}
@font-face {
  font-family: 'raspoutine';
  src: url('../fonts/raspoutine/Raspoutine.otf')
}

body {
  background: url('../img/bodyfont1.jpg') repeat;
  margin-top: 7.5vh;
}

.container {
  margin-bottom: 3vh;
}

.head {
  background-image: url('../img/navfont.png');
}

.navbar {
  background-color: rgb(253, 133, 14);
  height: 10vh;
  border-style: none;
  padding-top: 1vh;
}

ul.dropdown-menu {
  background-color: rgb(253, 133, 14);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #555;
  background-color: rgb(253, 133, 14);
}

.navbar-default
.navbar-nav>li>a {
  color: #FFF;
  text-align: center;
}

.navbar-collapse {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-nav {
  display:inline-block;
  float:none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: rgb(110, 163, 145);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color: rgb(253, 133, 14);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgb(110, 163, 145);
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
  text-align: center;
  font-family: 'london';
}

.navbar-default .navbar-nav .open .dropdown-menu>li,
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #FFF;
  font-size: 3.5vh;
  text-align: center;
  font-family: 'london';
}

.menu {
  padding-right: 20px;
}

.portrait {
  display: block;
  margin: 5vh auto -2vh auto;
  border-radius: 50%;
}

h1 {
  font-family: 'leixo';
  font-size: 15vh;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 3px #000;
}

.quote {
  font-family: 'raspoutine';
  text-align: center;
  color: #FFF;
  font-size: 4vh;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-family: 'London';
  text-shadow: 1px 1px #FFF;
  font-weight: bold;
}

.art {
  margin-bottom: 2vh;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.date {
  font-weight: 600;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.exp {
  text-align: left;
}

ul, p {
  font-family: 'London';
  font-size: 4vh;
  font-weight: 400;
  color: #111;
}

p a {
  color: #111;
  text-decoration: underline;
}

p a:hover {
  color: #E9004F;
}



@media screen and (max-width:767px) {
 h1 {
   font-size: 5vh;
 }

 .portrait {
   margin-left: 17vw;
   margin-top: 3vh;
 }
}

@media screen and (min-width:768px) and (max-width:991px) {
  h1 {
    font-size: 8vh;
  }

  .navbar {
    height: 10.5vh;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {

}

@media screen and (min-width:1200px) {

}
