@font-face {
  font-family: 'good-night';
  src: url('../fonts/good_night/Good-night.ttf')
}
@font-face {
  font-family: 'stardust';
  src: url('../fonts/stardust/Stardust.ttf')
}
@font-face {
  font-family: 'heracles';
  src: url('../fonts/the_constellation_of_heracles/Heracles.ttf')
}
@font-face {
  font-family: 'angelface';
  src: url('../fonts/Angelface/Angelface.otf')
}


body {
  background: url('../img/bodyfont.jpg') repeat;
}

.nav {
  background-image: url('../img/navfont.png');
  box-shadow: 1px 1px #FFF;
}

.lang {
  margin-top: 3vh;
  list-style-type: none;
  font-family: 'good-night';
}

.lang a {
  color: #6EA391;
  font-size: 2vh;
  font-weight: bold;
}

.lang a:hover {
  color: #F7EEAD;
}

.portrait {
  margin-top: 2.5vh;
  margin-left: 2.5vh;
  border-radius: 50%
}

h1 {
  font-family: 'heracles';
  font-size: 17vh;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 3px #000;
}

.quote {
  font-family: 'stardust';
  text-align: center;
  color: #FFF;
  font-size: 6vh;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-family: 'stardust';
  text-shadow: 1px 1px #FFF;
}

.art {
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.5)
}

ul, p {
  font-family: 'angelface';
  font-size: 4vh;
  font-weight: 400;
  color: #111;
}

p a {
  color: #111;
  text-decoration: underline;
}

p a:hover {
  color: #FD580E;
}

ul {
  list-style-type: none;
}
