.wrapper {
  background: linear-gradient(rgba(67, 108, 247, 0.31), rgba(255, 142, 124, 0.52));
  border-radius: 10px;
  box-shadow: inset 0 0 30px rgba(10,10,50,.75);
  height: 40%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 300px;
}

.parallax {
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: perspective(800px) rotateX(0deg) rotateY(0deg);
  width: 100%;
  will-change: transform;
}

.element {
  position: absolute;
  transform: translateX(0px) translateY(0px);
  will-change: transform;
}
