@font-face {
  font-family: 'leixo';
  src: url('../fonts/leixo/leixo.ttf');
}
@font-face {
  font-family: 'London';
  src: url('../fonts/London/LondonMM.ttf');
}
@font-face {
  font-family: 'raspoutine';
  src: url('../fonts/raspoutine/Raspoutine.otf');
}

body {
  margin: 5%;
}

.portrait {
  display: none;
}

.altimg {
  display: none;
}

h1 {
  color: #FFF;
  font-family: 'leixo';
  font-size: 6vh;
  text-align: center;
}

.quote {
  color: #FFF;
  font-family: 'raspoutine';
  font-size: 1.5vh;
  font-weight: normal;
  text-align: center;
}

h2 {
  color: blue;
  font-family: 'London';
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px #FFF;
}

.art {
  background-color: rgba(247, 238, 173, 0.7);
  border: 1px solid #FFF;
  border-radius: 15px;
  margin-bottom: 2vh;
}

.date {
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.exp {
  text-align: left;
}

ul, p {
  color: #111;
  font-family: 'London';
  font-size: 2vh;
  font-weight: 400;
}

p a {
  color: #111;
  text-decoration: none;
}

.footer {
  display: none;
}

.arrow {
  display: none;
}
